name: Latest blog post workflow
on:
  push:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gautamkrishnar/blog-post-workflow@1.9.4
        with:
          feed_list: "https://mathesonsteplock.ca/rss/"
